.navbar {
    position: fixed;
    /* Fixed position to stay at the top */
    top: 0;
    /* Distance from the top of the viewport */
    left: 0;
    /* Distance from the left of the viewport */
    width: 100%;
    /* Occupy the full width of the viewport */
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#151515, #151515f0, #151515b7, #15151500);
    align-items: center;
    color: white;
    padding: 20px;
    z-index: 999;
    /* Ensure the navbar stays above other content */
}
.logo {background-image: url(../6880FF__1_-removebg-preview.png);
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    margin: 0;
}

.links {
    display: flex;
}

.link {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #6880FF;
    animation: slide 0.3s ease-in-out forwards;
}

@keyframes slide {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons svg {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}