.navbar {
    position: fixed;
    /* Fixed position to stay at the top */
    top: 0;
    /* Distance from the top of the viewport */
    left: 0;
    /* Distance from the left of the viewport */
    width: 100%;
    /* Occupy the full width of the viewport */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 20px;
    z-index: 999;
    /* Ensure the navbar stays above other content */
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
}

.link {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: white;
    animation: slide 0.3s ease-in-out forwards;
}

@keyframes slide {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons svg {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}