.backg{
    background-color: #151515;
}
#carder{
    background-color: rgb(47, 47, 47);
    width: 1000px;
    height: 600px;
    border-radius: 20px;
}
#gapper{
    gap: 200px;
}
#button-view{
    background-color: #6880FF;
}
@media screen and (max-width: 426px) {
    #iamge{
        display: none;
    }
        #carder {
            background-color: rgb(47, 47, 47);
            width: 350px;
            height: 600px;
            border-radius: 20px;
        }
    #text-width{
        width: 100%;
    }
}