body {
    background-color: #151515;
    overflow-y: scroll;
    overflow-x: hidden;
}
@font-face {
    font-family: calm;
    src: url(../Poppins-Regular.ttf);
}
/* width */
.proj-cont::-webkit-scrollbar {
    width: 20px;
    height: 5px;
}

/* Track */
.proj-cont::-webkit-scrollbar-track {
}

/* Handle */
.proj-cont::-webkit-scrollbar-thumb {
    background: rgb(234, 234, 234);
    border-radius: 10px;
    height: 2px;
}

/* Handle on hover */
.proj-cont::-webkit-scrollbar-thumb:hover {
    background: #6880FF;
}
.ee{
    height: fit-content;
    content: "e";
    background-color: #151515;
    z-index: 10;
}
.container {
    position: relative;
}
.text-section h2{
    font-size: 40px;
    margin-bottom: 0;
}
.text-section button{
    padding: 15px 45px;
    margin-top: 1rem;
    border: 1px solid #6880FF;
    color: #6880FF;
    font-size: 1rem;
    background-color: #151515;
    border-radius: 1px;
}
.bottom-left-image {
    position: fixed;
    width: 40%;
    /* Adjust as needed */
    height: auto;
    /* Adjust as needed */
    z-index: 999;
    /* Ensure the image stays on top */
}

.content {
    margin-left: 120px;
    /* Adjust this value to leave space for the image */
}

.scrollable-text {
    position: absolute;
    top: 0%;
    margin-top: 5%;
    width: 50%;
    right: 10px;
    /* Adjust to leave space from the right wall */
    max-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* Adjust as needed */
}
.scrollable-text p{
    width: 600px;
}
.text-section {
    /* Adjust as needed */
    /* Adjust as needed */
    color: #ccc;
    /* Add border for separation */
    padding: 10px;
    /* Add padding for spacing */
    margin-bottom: 20px;
    /* Adjust spacing between text sections */

}
.proj-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    border-radius: 10px;
    overflow-x: auto;
    max-width: 800px;
}
.boxer{
    min-width: 300px;
    height: 200px;
    background-color: #6880FF;
    border-radius: 10px;
    border-bottom: 5px solid #151515;
    display: flex;
    align-items: center;
    justify-content: center;
}
#first-box{
    background-image: url(./aa.PNG);
    background-position: center;
    background-size: cover;
}
#second-box {
    background-image: url(./unwa.PNG);
    background-position: center;
    background-size: cover;
}
#first-box {
    background-image: url(./aa.PNG);
    background-position: center;
    background-size: cover;
}
.scripts-flex{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.scripts{
    font-size: 60px;
    color: #ffffff;
    padding: 10px;
}
.headdiv{
    width: 100%;
    height: 85px;
}
p span{
    color: #6880FF;
}
.script-tags{

}
.script-tags span{
    background-color: #6881ff29;
    box-shadow: 0px 0px 10px #6881ff29;
    padding: 5px 8px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    transition: .4s;
}
.script-tags span:hover{
    font-size: 17px;
    transition: .4s;
    cursor: pointer;
}
/* .below-scroll{
    height: 5000px;
    width: 100%;
    z-index: 9999;
    background-color: #6880FF;
} */
@media screen and (max-width: 425px) {
    body {
    }
    .img-cont{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
        .bottom-left-image {
            position: relative;
            width: 100%;
            /* Adjust as needed */
            height: auto;
            /* Adjust as needed */
            z-index: 999;
            /* Ensure the image stays on top */
        }
                .scrollable-text {
                    position: relative;
                    width: 100%;

                }
                .scrollable-text p{
                    width: 100%;
                }
                .content{
                    margin-left: 0;
                    padding: 10px 20px;
                }
}
