@font-face {
    font-family: curs;
    src: url(../AbhayaLibre-Regular.ttf);
}

@font-face {
    font-family: cursb;
    src: url(../AbhayaLibre-ExtraBold.ttf);
}

.main-content {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
}

.img {
    position: relative;
    background-image: url(../Grey\ minimalist\ business\ project\ presentation\ .png);
    background-size: cover;
    background-position: center;
}

.left-content {
    position: absolute;
    top: 35%;
    left: 3%;
    transform: translateY(-50%);
}

.main-sub {
    margin-bottom: 0;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.1rem;
}

.big-title {
    font-size: 9rem;
    margin-top: 0;
    color: #CB3322;
    margin-bottom: 0;
    font-family: cursb;
    font-weight: bolder;
}

.main-info {
    width: 45%;
    margin-bottom: 0;
    margin-top: 0;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 1.1rem;
    color: #080808;
}

.custom-button {
    border: 2px solid #CB3322;
    border-radius: 10px;
    padding: 10px 20px;
    background: none;
    color: #CB3322;
    cursor: pointer;
    outline: none;
    display: none;
}

.work-section {
    position: absolute;
    bottom: 20px;
    left: 3%;
}

.work-section h2 {
    color: black;
}

.work-section h3 {
    color: red;
    font-size: .8rem;
}

.work-boxes {
    display: flex;
}

.work-box {
    width: 225px;
    height: 150px;
    border: 5px solid rgb(205, 205, 205);
    margin-right: 10px;
}

#one {
    background-image: url(../aa\ front.PNG);
    background-position: center;
    background-size: cover;
}

#two {
    background-image: url(../Turbo.png);
    background-position: center;
    background-size: cover;
}

#three {
    background-image: url(../unwa.PNG);
    background-position: center;
    background-size: cover;
}

.picture {
    position: fixed;
    bottom: 0%;
    right: 10%;
    /* Adjust the width and height of the image as needed */
}

.picture img {
    width: 500px;
    /* Adjust the width of the image */
    height: auto;
    /* Maintain aspect ratio */
}